<% if current_page.path == "index.html" %>
  <!-- Start with invisible background and light logo on homepage -->
  <div class="navbar-van-gorsel navbar-invisible">

      <!-- Logo -->
    <% link_to "../index.html", class: "navbar-van-gorsel-brand" do %>
      <div class="navbar-logo-container">
        <%= image_tag "images/Rudolf-Logo.png", alt: "logo", id: "navbar-logo" %>
        <div class="navbar-logo-text">
          <H5>Rudolf van Gorsel</H5>
        </div>
      </div>
    <% end %>

<% else %>
  <!-- Start with background and dark logo on any other page -->
  <div class="navbar-van-gorsel navbar-visible" >

  <!-- Logo -->
    <% link_to "../index.html", class: "navbar-van-gorsel-brand" do %>
      <div class="navbar-logo-container">
        <%= image_tag "images/Rudolf-Logo.png", alt: "logo", id: "navbar-logo" %>
        <div class="navbar-logo-text">
          <H5>Rudolf van Gorsel</H5>
          <p><i>ontwerpˑrealisatie</i></p>
        </div>
      </div>
    <% end %>

<% end %>

  <!-- Right Navigation -->
  <div class="navbar-van-gorsel-right hidden-xs hidden-sm">

    <a href="#over-ons" class="navbar-van-gorsel-item navbar-van-gorsel-link">Over Ons</a>
    <a href="#stappenplan" class="navbar-van-gorsel-item navbar-van-gorsel-link">Stappenplan</a>
    <a href="#projecten" class="navbar-van-gorsel-item navbar-van-gorsel-link">Projecten</a>
    <a href="#contact" class="navbar-van-gorsel-item navbar-van-gorsel-link">Contact</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-van-gorsel-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-van-gorsel-dropdown-menu">
        <li><a href="#over-ons" class="navbar-van-gorsel-item navbar-van-gorsel-link">Over Ons</a></li>
        <li><a href="#stappenplan" class="navbar-van-gorsel-item navbar-van-gorsel-link">Stappenplan</a></li>
        <li><a href="#projecten" class="navbar-van-gorsel-item navbar-van-gorsel-link">Projecten</a></li>
        <li><a href="#contact" class="navbar-van-gorsel-item navbar-van-gorsel-link">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
