.contact-form-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  background-color: $yankees-blue;
}

.contact-form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  h3 {
    color: white;
  }
  p {
    color: white;
  }
}

.contact-form__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
}

.contact-form__sub-text{
  color: white;
  text-align: center;
  font-size: 10px;
}
