.contact-form-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  background-color: $antraciet;
}

.contact-form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  h3 {
    color: white;
  }
  p {
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .contact-form-div.__mobile{
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .contact-form-div.__desktop{
    align-items: flex-start;
    flex-direction: row;
  }
}

.contact-form__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
}

.contact-form__sub-text{
  color: white;
  text-align: center;
  font-size: 10px;
  margin-top: 50px;
}
