.contact-form-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  background-color: $yankees-blue;
}

.contact-form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  color: $rich-black;
}

form.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

form.contact-form input {
  margin: 10px 0px 10px 0px;
}

form input[type="checkbox"] {
  margin-right: 20px;
}

button.contact-form-button {
  background-color: #EDAE49;
  color: white;
  height: 40px;
}

button.contact-form-button:hover {
  opacity: 0.8;
}

textarea#exampleTextarea {
  margin-bottom: 10px;
}
