/* Main navbar */
.navbar-van-gorsel {
  transition: all 0.3s ease;
  height: 70px;
  width: 100vw;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-invisible {
  /* Navbar link */
  .navbar-van-gorsel-link {
    color: $rich-black;
    font-size: 14px;
  }
  .navbar-van-gorsel-link:hover {
    color: rgba(244, 96, 54, 1);
    text-decoration: none;
  }
}

.navbar-visible {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;

  /* Navbar link */
  .navbar-van-gorsel-link {
    color: #616668;
    font-size: 14px;
  }

  .navbar-van-gorsel-link:hover {
    color: rgba(244, 96, 54, 1);
    text-decoration: none;
  }
}

/* Logo */
.navbar-logo-container {
  display: flex;
}

.navbar-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 0px 10px;

  h5 {
    line-height: 0px;
    font-size: 25px;
  }
  p {
    font-size: 10px;
    opacity: 0.6;
  }
}

.navbar-van-gorsel-brand img {
  height: 50px;
}

/* Right section */
.navbar-van-gorsel-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-van-gorsel-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Dropdown menu */
.navbar-van-gorsel-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-van-gorsel-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-van-gorsel-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-van-gorsel-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
