// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$white: #ffffff;
$off-white: #f4f4f4;

// Coolors color scheme
$rudolf-orange: #ff7f00;
$yankees-blue: #13293D;

$logo-light-blue: #00dedc;
$logo-blue: #183eff;
$logo-green: #a5dd02;
$bright-orange: #ff7f00;
$rich-black: #001021;
$spanish-blue: #009DDC;
