// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$white: #ffffff;
$off-white: #f4f4f4;

// Coolors color scheme
$rudolf-orange: #ff7f00;
$oxford-blue: #002642;
$gainsboro: #E5DADA;
$burgundy: #5F0F40;
$rich-black: #02040F;
$antraciet: #293133;
